@font-face {
    font-family: "BPdots Squares-Bold";
    src: url(bpdots.squares-bold.otf);
  }

body {
    background: black;
}

header {
    background-color: white;
    padding:10px;
}

h1 {
    color: #000000;
    font-family: BPdots Squares-Bold;
    font-weight: 200;
}